{% extends 'layout.html.twig' %}


{% block title %}
	Suject
{% endblock %}

{% block content %}
	<br><br>
	<h1>Liste des sujets</h1>
	<ul>
		{% for subject in subjects %}
			<li>
				{{ subject.name }}
			</li>
		{% endfor %}
	</ul>
{% endblock %}
