<div class="container-fluid">
	<div class="p-1 d-flex align-items-center justify-content-center">
		<p class="h4 text-color-green">
			<strong>"PARTAGEONS NOS CONNAISSANCES"</strong>
		</p>
	</div>
</div>
