<div class="container-fluid bg-white color-black">
	<div class="d-flex align-items-center justify-content-between">

		<img src="/assets/images/logo.png" alt="logo">

		<h3 class="text-black">
			<strong>{{ headertitle }}</strong>
		</h3>

		<h3 class="text-black">
			<strong>ACCUEIL</strong>
		</h3>

	</div>
</div>
