<div class="container-fluid bg-white">
	<div class="d-flex align-items-center justify-content-between">

		<a href="/">
			<img class="logo" src="/assets/images/logo.png" alt="logo">
		</a>

		<h2 class="text-color-green">
			<strong>{{ headertitle }}</strong>
		</h3>

		<h4 class="text-color-green">
			<strong>Welcome Mr Lambert</strong>
		</h4>

	</div>
</div>
