<div class="container-fluid bg-white border border-primary">
	<div class="d-flex align-items-center justify-content-between">

		<img class="logo" src="/assets/images/logo.png" alt="logo">

		<h2 class="text-color-green">
			<strong>{{ headertitle }}</strong>
		</h3>

		<h2 class="text-color-green">
			<strong>ACCUEIL</strong>
		</h3>

	</div>
</div>
