* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: gatwick;
}

:root {
    --color-green: #223d3c;
    --color-mauve: #f8f2f3;
}

body {
    overflow-x: hidden;

}

/* header */

header {
    height: 60px;
}

header img {
    height: 60px;
    width: 80px;
}

.home-main {
    height: calc(100vh - 60px - 40px);
    min-height: 650px;
}

footer {
    height: 40px;
    border: 1px solid var(--color-mauve);
}

.text-color-green {
    color: var(--color-green);
}

.text-color-clair {
    color: var(--color-mauve);
}

.text-color-white {
    color: white;
}

.bg-clair {
    background-color: var(--color-mauve);

}

.bg-green {
    background-color: #223d3c;
}