* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --color-green: #223d3c;
    --color-mauve: #f8f2f3;
}

.header {
    height: 60px;
}

.logo {
    height: 60px;
    width: 80px;
}

.list-group-item:hover {
    color: var(--color-green);
    background-color: var(--color-mauve);
}

.list-group-item a {
    text-decoration: none;
}

.body {
    height: calc(100vh - 60px - 40px);
}

.footer {
    height: 40px;
}

.text-color-green {
    color: var(--color-green);
}

.text-color-clair {
    color: var(--color-mauve);
}

.bg-clair {
    background-color: var(--color-mauve);
}

.bg-green {
    background-color: var(--color-green);
}

.menu-themes:hover {
    color: var(--color-mauve);
    margin: 0px;
    padding: 0px;
}

.body-theme {
    height: calc(100vh - 60px - 40px - 40px);
}

.aside {
    width: 300px;
}

.notion-margin-left {
    margin-left: 300px;
}

.nav {
    height: 40px;
}

.lecon-exemples-card {
    height: 600px;
}

a:hover,
.hover:hover {
    color: var(--color-mauve);
}

.dropdown-menu {
    max-height: 500px;
    overflow-y: auto;
}

.form-file::before {
    content: "Image à inclure";
    position: absolute;
    background-color: #eee;
    width: 120px;
}

.button-margin-bottom {
    margin-bottom: 200px;
}

.sample-img{
    height: 470px;
    width: 470px;
}
