* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --color-green: #223d3c;
    --color-mauve: #f8f2f3;
}

.header {
    height: 60px;
}

header img {
    height: 60px;
    width: 80px;
}

.body {
    height: calc(100vh - 60px - 40px);
}

.footer {
    height: 40px;
}

.text-color-green {
    color: var(--color-green);
}

.text-color-clair {
    color: var(--color-mauve) !important;
}

.text-color-white {
    color: white;
}

.bg-clair {
    background-color: var(--color-mauve);
}

.bg-green {
    background-color: #223D3C;
}

.menu-themes:hover {
    color: var(--color-mauve);
    margin: 0px;
    padding: 0px;  
}