/* ---------- Theme page ---------- */

.notion-scroll {
    height: calc(100vh - 60px - 250px);
    overflow-y: auto;
}

.notion-margin {
    margin-left: 290px;
}

.lecon-exemples-card {
    height: 450px;
    /* margin-bottom: 100px; */
}

.exercices-card {
    height: 300px;
}

.body-height {
    /* border: 1px solid red; */
    /* min-height: 100vh;
    max-height: 80vh; */
}

.textarea-form {
    border: none;
    overflow: auto;
    outline: none;
    box-shadow: none;
    resize: none;
}


a:hover,
.hover:hover {
    color: red;
}

.dropdown-menu {
    max-height: 500px;
    overflow-y: auto;
}

/* 
.active-subject {
    background-color: var(--color-mauve);
    color: var(--color-green);
    ;
} */

/* 
.active-notion {
    background-color: var(--color-green);
} */

.list-group-item a {
    text-decoration: none;
}