{% extends 'layout.html.twig' %}

{% block title %}
	KNOWLEDGE
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="/assets/css/theme.css">
{% endblock %}

{% block navbar %}
	{% include 'Theme/nav.html.twig' %}
{% endblock %}

{% block content %}

	<div class="container-fluid p-0">
		<div class="row">

			{% include 'Theme/notionlist.html.twig' %}

			{% include 'Theme/body.html.twig' %}

		</div>
	</div>

{% endblock %}
